In [50]:
import sqlite3
conn = sqlite3.connect('imdb.db')

In [51]:
#req3.sql
#03.Combien y a-t-il de titres dans cette base de données ?
c = conn.cursor()
c.execute("SELECT COUNT(primaryName) FROM name_basics ;")
for row in c:
    print(row)

(1923775,)

In [52]:
#req4.sql
#04.En quelle année est sortie le film The Godfather ?
c = conn.cursor()
c.execute("SELECT startYear FROM title_basics WHERE primaryTitle='The Godfather';")
for row in c:
    print(row)

(1972,)
(2006,)

In [53]:
#req5.sql
#05.En quelle année est sortie le premier film Superman ?
c = conn.cursor()
c.execute("SELECT startYear FROM title_basics WHERE primaryTitle='Superman';")
for row in c:
    print(row)

(1941,)
(1948,)
(1978,)
(1988,)

In [54]:
#req6.sql
#06.Quel est le titre original du film 'Les dents de la mer' ?
c = conn.cursor()
c.execute("SELECT originalTitle FROM title_basics WHERE primaryTitle='Jaws';")
for row in c:
    print(row)

('Jaws',)

In [55]:
#req7.sql
#07.Quel est le métier d’Olivier Nakache ?
c = conn.cursor()
c.execute("SELECT primaryProfession FROM name_basics WHERE primaryName='Olivier Nakache'")
for row in c:
    print(row)

('writer,director,producer',)

In [56]:
#req8.sql
#08.Quels sont les films d’Olivier Nakache ?
c = conn.cursor()
c.execute("SELECT primaryTitle FROM title_writers JOIN title_basics ON title_writers.tconst = title_basics.tconst WHERE writers=619923")
for row in c:
    print(row)

('Those Happy Days',)
('The Intouchables',)
('The Upside',)
('Samba',)
("C'est la vie!",)
('The Specials',)

In [57]:
#req9.sql
#09.Quel est le film ayant recueilli le plus de votes ?
c = conn.cursor()
c.execute("SELECT MAX(numVotes),primaryTitle FROM title_ratings JOIN title_basics ON title_ratings.tconst = title_basics.tconst;")
for row in c:
    print(row)

(2328389, 'The Shawshank Redemption')

In [58]:
#req10.sql
#10.Qui a écrit le scénario du film Taxi sorti en 1998 ?
c = conn.cursor()
c.execute("SELECT writers FROM title_writers WHERE tconst=152930 ;")
for row in c:
    print(row)

(108,)

In [49]:
conn.close()